@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* Main Scope */
:root {
    --bg: #ecf0f3;
}
* {
    box-sizing: border-box;
}
body {
    margin:0;
    height: 100vh; width: 100vw;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#555;
    background: #252525;
}
/* Text Elements */
.box-text {
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    width: 40%;
    background: #252525aa;
    color: #ddd;
    font-weight: 100;
    box-shadow: 5px 5px 16px #171717,
                -5px -5px 16px #303030;
    border-radius: 10px;
    padding: 10px;
}
.tip {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    background: #252525aa;
    color: #ddd;
    font-weight: 100;
    box-shadow: 5px 5px 8px #171717,
                -5px -5px 8px #303030;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.tips {
    position: absolute;
    top: 340px;
    width: 100%;
    bottom: 0;
}
.rainbow {
    background: linear-gradient(90deg, rgba(255,0,104,1) 0%, rgba(254,255,49,1) 30%, rgba(45,255,131,1) 60%, rgba(0,211,232,1) 80%, rgba(0,99,255,1) 100%);
    -webkit-background-clip: text; background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header {
    position: absolute;
    top: 55px;
}
/* Images & Videos */
.logo {
    width: 100px; height: 100px;

    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 
    0px 0px 2px #5f5f5f,
    0px 0px 0px 5px #242424,
    8px 8px 15px #0f0f0f,
    -8px -8px 15px #303030;
}
.logo-bg {
    height: 100%; width: auto;
    filter: blur(3px);
    z-index: -1;
    position: absolute;
}
.trailer {
    border-radius: 10px;
}
.thumbnail {
    transform: scale(50%);
    position: absolute;
    top: 25px;
    border-radius: 40px;
    box-shadow: 5px 5px 16px #171717,
                -5px -5px 16px #303030;
}
/* GUI Elements */
.navbar {
    position: absolute;
    top: 70px;
    width: 30%; height: 10px;
    padding: 20px;
    border-radius: 40px;
    background: #252525;
    box-shadow: 3px 3px 6px #171717,
                -3px -3px 6px #303030;
    font-weight: 100;
    color: #aaa;
}
.navbar .nav-content {
    display: flex;justify-content: space-evenly;
    list-style-type: none;
    padding: 0; margin: -10px 0 0 0;
}
.navbar .nav-content .nav {
    user-select: none;
    padding: 0; margin: 0;
}
.navbar .nav-content .nav:hover {
    cursor: pointer;
}
/* Social Hyperlinks */
.social-youtube {
    user-select: none;
    position: absolute;
    right: 15px;
    bottom: 425px;
    width: 280px;
    height: 50px;
    background: #fff;
    border-radius: 6px;
    transition: ease-in-out 500ms;
}
.social-youtube:hover {
    transform: scale(105%);
}
.social-profile, .social-game {
    user-select: none;
    position: absolute;
    right: 15px;
    width: 280px;
    height: 50px;
    background: #202225;
    border-radius: 6px;
    transition: ease-in-out 500ms;
}
.social-profile {
    bottom: 490px;
}
.social-profile:hover {
    transform: scale(105%);
}
.social-game {
    bottom: 555px;
}
.social-game:hover {
    transform: scale(105%);
}
.hyperlink-name-light, .hyperlink-name-dark {
    position: absolute;
    text-align: left;
    text-decoration: none;
    color: #ddd;
    display: inline;
    top: 15px;
    left: 60px;
    font-size: 14px;
    font-weight: 100;
}
.hyperlink-name-dark {
    color: #202225;
}
.social-icon {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 30px;
    display: inline;
}
.discord {
    position: absolute;
    bottom: -40px;
    right: -20px;
    z-index: 999;
    transform: scale(80%);
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: hsla(0,0%,100%,.1); 
    border-radius: 10px;
}
/* Posts */
.posts {
    position: absolute;
    top: 120px;
    width: 40%;
    overflow-y: scroll;
    bottom: 0;
    padding: 20px 20px 0 20px;
    background: none;
}
.post {
    position: relative;
    background: #252525aa;
    color: #ddd;
    font-weight: 100;
    box-shadow: 3px 3px 8px #171717,
                -3px -3px 8px #303030;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
}
.post > .author, .date {
    display: inline;
    margin: 0;
}
.date {
    float: right;
}
.author-pfp {
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 35px;
    display: inline;
}
table {
    margin: 20px 0;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #323232bb;
}
td, th {
    border: .5px solid #515151;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #252525bb;
}
/* Developers */
.developers {
    position: absolute;
    top: 120px;
    width: 30%;
    overflow-y: scroll;
    bottom: 0;
    padding: 20px;
    background: none;
}
.dev-profile {
    margin-bottom: 20px;
    background: #252525aa;
    color: #ddd;
    font-weight: 100;
    box-shadow: 3px 3px 8px #171717,
                -3px -3px 8px #303030;
    border-radius: 10px;
    padding: 10px;
}
.dev-pfp {
    border-radius: 50%;
    display: inline;
    margin: 0;
    width: 20px;
}
.dev-name {
    display: inline;
}
